[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
web3 = "*"
aiohttp = "*"
python-dotenv = "*"
web3-input-decoder = "*"
eth-abi = "*"
moralis = "*"

[dev-packages]

[requires]
python_version = "3.12"
